 
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                全屏工具<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li><a href="/Static/DevTool/htmleditor.html" nj-nav target="_blank">html在线开发工具</a></li>
                <li><a nj-nav title="RunJS在线编辑器" href="/Static/UI/runjs.html" target="_blank">RunJS在线编辑器</a></li>
                <li><a nj-nav title="PhotoShop在线版" href="/Static/UI/PhotoShop.html" target="_blank">PhotoShop在线版</a></li>
                <li><a nj-nav title="Json格式化校验" href="/Static/Json/jsoncn.html" target="_blank">Json格式化校验</a></li>
                <li><a nj-nav title="Json格式化校验,对比" target="_blank" href="/Static/json/jsonlint.html">Json格式化校验,对比</a></li>
                <li><a nj-nav title="Json在线编辑器" href="/Static/Json/jsoneditor.html" target="_blank">Json在线编辑器</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a nj-nav title="JsonViewer" target="_blank" href="/Static/json/jsonview.html">JsonViewer</a></li>
                <li id="Li2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a nj-nav title="在线二维码生成器" target="_blank" href="/static/tools/qrcode.html">在线二维码生成器</a></li>
                <li id="Li6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a nj-nav title="在线文件对比工具" href="/Static/Tools/Diff.html" target="_blank">在线文件对比工具</a></li>
                <li id="Li15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a nj-nav title="经纬度查询" target="_blank" href="/Static/tools/gpsmap.html">经纬度查询</a></li>
            </ul>



        </li>


        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                开发文档 <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li><a nj-nav href="http://www.jq22.com/chm/jquery1.8.3.html" target="_blank" rel="external nofollow">jQuery文档</a></li>
                <li><a nj-nav href="http://v3.bootcss.com/components/" target="_blank" rel="external nofollow">Bootstrap文档</a></li>
                <li><a nj-nav href="https://cn.vuejs.org/v2/api/" target="_blank" rel="external nofollow">VueJs文档</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://fontawesome.io/icons/" target="_blank" rel="external nofollow">fontawesome矢量图标库</a></li>
                <li><a nj-nav href="http://iconfont.cn/collections" target="_blank" rel="external nofollow">阿里巴巴矢量图标库</a></li>
                <li role="separator" class="divider"></li>
                <li><a nj-nav id="apliayapi" href="http://wiki.open.qq.com/wiki/%E9%A6%96%E9%A1%B5" target="_blank" rel="external nofollow">腾讯开发平台</a></li>
                <li><a nj-nav id="wxapi" href="http://mp.weixin.qq.com/wiki/home/index.html" target="_blank" rel="external nofollow">微信公众平台开发文档</a></li>
                <li><a nj-nav id="wxapi" href="https://pay.weixin.qq.com/wiki/doc/api/index.html" target="_blank" rel="external nofollow">微信支付开发文档</a></li>
                <li><a nj-nav id="wxapi" href="http://mp.weixin.qq.com/wiki/11/74ad127cc054f6b80759c40f77ec03db.html" target="_blank" rel="external nofollow">微信JSSDK开发文档</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://mp.weixin.qq.com/debug">微信公众平台调试工具</a></li>
                <li><a nj-nav id="coupon" rel="external nofollow" target="_blank" href="http://mp.weixin.qq.com/debug/cgi-bin/sandbox?t=cardsign">微信卡券JSAPI签名校验工具</a></li>
                <li><a nj-nav id="wxapi" href="http://mp.weixin.qq.com/wiki/11/74ad127cc054f6b80759c40f77ec03db.html" target="_blank" rel="external nofollow">微信JSSDK开发文档</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://mp.weixin.qq.com/debug/cgi-bin/sandbox?t=jsapisign">微信 JS 接口签名校验工具</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://qy.weixin.qq.com/debug">微信企业号调试工具</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://connect.qq.com/sdk/webtools/">QQ互联API调试工具</a></li>
                <li role="separator" class="divider"></li>
                
                <li><a nj-nav id="tbapi" href="http://open.taobao.com/api/api_list.htm?spm=a219a.7386789.1.27.Lf4YRD" target="_blank" rel="external nofollow">淘宝开发文档</a></li>
                <li><a nj-nav id="apliayapi" href="https://open.alipay.com/platform/document.htm" target="_blank" rel="external nofollow">支付宝开发文档</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://t.cn/R4617Pf">淘宝oauth2.0测试工具</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://t.cn/R461ZZu">淘宝API测试工具</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://t.cn/R461Zm2">淘宝错误码查询工具</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://t.cn/R461wa7">淘宝商品属性工具</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://sandbox.alipaydev.com/home/apiTestTools.htm?method=alipay.security.risk.detect">支付宝API工具</a></li>
                <li role="separator" class="divider"></li>
                <li><a nj-nav id="baiduinterface" href="http://apistore.baidu.com/astore/classificationservicelist.html" target="_blank" rel="external nofollow">百度API市场</a></li>
                <li><a nj-nav rel="external nofollow" target="_blank" href="http://open.weibo.com/tools/console">新浪微博API工具</a></li>
                <li><a nj-nav id="A5" href="/docs/freeapi/">免费API接口</a></li>



            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
 