<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form" onmouseover="document.getElementById('dropdownsearchmenu').style.display = 'block'">
                    
                         <input type="text" class="form-control" id="dropdownsearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Search...">
      

                    
                    <span class="input-group-btn">
                        <button class="btn btn-default dropdown-toggle" type="button" id="btn_header_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-search"></i>
                        </button>
                        <ul class="dropdown-menu" id="dropdownsearchmenu" aria-labelledby="dropdownsearch" style="margin-left:-182px"></ul>
                    </span>
                   
                </div>
               
                <!-- /input-group -->
            </li>

            <li>
                <a href="#"><i class="fa fa-home fa-fw"></i>Json工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li><a nj-nav  title="Json格式化校验" href="/Json/jsoncheck/">Json格式化校验</a></li>

                    <li><a nj-nav  title="Json压缩转义" href="/json/jsonhandle/">Json压缩转义</a></li>
                    <li><a nj-nav  title="Json生成实体类" href="/json/json2model/">Json生成实体类</a></li>
                    <li><a nj-nav  title="Json XML互转" href="/json/xml2json/">Json XML互转</a></li>
                    <li><a nj-nav  title="Json和GET参数互转" href="/json/getpostjson/">Json和GET参数互转</a></li>
                    <li><a nj-nav title="Excel,Csv转Json" href="/json/excel2json/">Excel,Csv转Json</a></li>
                    <li><a nj-nav  title="Json解析相关代码" href="/json/jsoncode/">Json解析相关代码</a></li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bars fa-fw"></i>格式化工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li><a nj-nav  title="JS/HTML格式化,压缩" href="/format/jshtmlformat/">JS/HTML格式化,压缩</a></li>
                    <li><a nj-nav  title="CSS格式化,压缩" href="/format/cssformat/">CSS格式化,压缩</a></li>
                    <li><a nj-nav  title="XML格式化,压缩" href="/format/xmlformat/">XML格式化,压缩</a></li>
                    <li><a nj-nav  title="SQL格式化,压缩" href="/format/sqlformat/">SQL格式化,压缩</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-unlock fa-fw"></i>加密解密<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a nj-nav title="Unicode加密解密" href="/encdec/unicodetochinese/">Unicode加密解密</a></li>
                    <li><a nj-nav  title="Base64加密解密" href="/encdec/base64/">Base64加密解密</a></li>
                    <li><a nj-nav  title="MD5加密" href="/encdec/md5/">MD5加密</a></li>
                    <li><a nj-nav  title="SHA加密" href="/encdec/sha/">SHA加密</a></li>
                    <li><a nj-nav title="DES,AES等对称加密解密" href="/encdec/aesdes/">DES,AES等对称加密解密</a></li>
                    <li><a nj-nav  title="Escape加密解密" href="/encdec/escape/">Escape加密解密</a></li>
                    <li><a nj-nav  title="URL编码解码" href="/encdec/urlencode/">URL编码解码</a></li>
                    <li><a nj-nav  title="Javascript Eval加密解密" href="/encdec/jseval/">Javascript Eval加密解密</a></li>
                    <li><a nj-nav  title="UTF-8编码汉字互转" href="/encdec/utf8/">UTF-8编码汉字互转</a></li>
                    <li><a nj-nav  title="摩斯密码加密" href="/encdec/morse/">摩斯密码加密</a></li>
                    <li><a nj-nav  title="在线htpasswd生成器" href="/encdec/htpasswd/">在线htpasswd生成器</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-usb fa-fw"></i>转换工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a nj-nav  title="在线短链接生成" href="/change/shorturl/">在线短链接生成</a></li>
                    <li><a nj-nav  title="下载地址在线转换" href="/change/urlconvert/">下载地址在线转换</a></li>
                 
                    <li><a nj-nav  title="Unix时间转换" href="/change/unix/">Unix时间转换</a></li>
                    <li><a nj-nav  title="进制转换" href="/change/hexconvert/">进制转换</a></li>
                    <li><a nj-nav  title="Native/Ascii互转" href="/change/nativeascii/">Native/Ascii互转</a></li>
                 
                    <li><a nj-nav  title="字母大小写转换" href="/change/touppertolower/">字母大小写转换</a></li>
                    <li><a nj-nav  title="RGB颜色和HEX互转" href="/change/rgbhex/">RGB颜色和HEX互转</a></li>
                    <li><a nj-nav  title="字符串-16进制互转" href="/change/hex2str/">字符串-16进制互转</a></li>

                    <li><a nj-nav  title="在线图片转Base64编码" href="/change/image2base64/">在线图片转Base64编码</a></li>
                    <li><a nj-nav  title="Html/UBB代码互转工具" href="/change/htmlubb/"> Html/UBB代码互转工具</a></li>
                    <li><a  nj-nav title="汉字转换拼音" href="/change/topinying/">汉字转换拼音</a></li>
                    <li><a nj-nav  title="全角半角转换" href="/change/fullhalf/">全角半角转换</a></li>
                    <li><a nj-nav  title="简繁体火星文互转" href="/change/j2f/">简繁体火星文互转</a></li>
                    <li><a nj-nav  title="Html转换为MarkDown工具" href="/change/html2markdown/">Html转换为MarkDown工具</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-internet-explorer fa-fw"></i>网络工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="Li17"><a nj-nav  title="接口测试,模拟http请求" href="/webtools/httptest/">接口测试,模拟http请求</a></li>
                    <li id="Li12"><a nj-nav  title="获取您的浏览器信息" href="/webtools/clientinfo/">获取您的浏览器信息</a></li>
                    <li id="Li13"><a nj-nav  title="常用USER_AGENT" href="/webtools/useragent/">常用USER_AGENT</a></li>
                    <li id="Li36"><a nj-nav  title="IP地址查询" href="/webtools/ipaddress/">IP地址查询</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-paint-brush fa-fw"></i>前端工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="Li8"><a nj-nav  title="WEB安全色" href="/ui/safecolor/">WEB安全色</a></li>
                    <li id="Li18"><a nj-nav  title="网页常用颜色" href="/ui/usecolor/">网页常用颜色</a></li>
                    <li id="Li19"><a nj-nav  title="在线调色板" href="/ui/onlinecolor/">在线调色板</a></li>
                    <li id="Li16"><a nj-nav  title="在线生成圆角图片" href="/ui/borderradius/">在线生成圆角图片</a></li>
                    <li id="Li20"><a nj-nav  title="弹出窗口生成器" href="/ui/openweb/">弹出窗口生成器</a></li>
                    <li id="Li37"><a nj-nav  title="Ueditor在线代码编辑器" href="/ui/ueditor/">Ueditor在线代码编辑器</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i>常用工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="Li3"><a nj-nav  title="正则表达式匹配" href="/validate/regex/">正则表达式匹配</a></li>

                    <li id="Li22"><a nj-nav  title="在线二维码解码器" href="/tools/qrdecode/">在线二维码解码器</a></li>


                    <li id="Li27"><a nj-nav  title="在线文字排版工具" href="/tools/texteditor/">在线文字排版工具</a></li>
                    <li id="Li11"><a nj-nav  title="在线字数统计工具" href="/tools/wordcounter/">在线字数统计工具</a></li>
                   
                    <li id="Li38"><a nj-nav  title="科学计算器" href="/tools/calculator/">科学计算器</a></li>
                   

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-usd fa-fw"></i>金融工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a nj-nav title="复利计算器" href="/money/fuli/">复利计算器</a></li>
                    <li><a nj-nav title="RMB大小写转换" href="/money/numtormb/">RMB大小写转换</a></li>
 
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-calculator fa-fw"></i>单位换算工具<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a nj-nav  href="/math/angle/" title="角度换算">角度换算</a>
                    </li>


                    <li><a nj-nav  href="/math/time/" title="时间换算">时间换算</a></li>

                    <li><a nj-nav  href="/math/heat/" title="热量换算">热量换算</a></li>

                    <li><a nj-nav  href="/math/length/" title="长度换算">长度换算</a></li>

                    <li><a nj-nav  href="/math/area/" title="面积换算">面积换算</a></li>

                    <li><a nj-nav  href="/math/speed/" title="速度换算">速度换算</a></li>

                    <li><a nj-nav  href="/math/datastore/" title="数据存储">数据存储</a></li>

                    <li><a nj-nav  href="/math/subnetmask/" title="子网掩码换算">子网掩码换算</a></li>

                    <li><a nj-nav  href="/math/power/" title="功率换算">功率换算</a></li>

                    <li><a nj-nav  href="/math/pressure/" title="压力换算">压力换算</a></li>

                    <li><a nj-nav  href="/math/temperature/" title="温度换算">温度换算</a></li>

                    <li><a nj-nav  href="/math/density/" title="密度换算">密度换算</a></li>

                    <li><a nj-nav  href="/math/force/" title="力换算">力换算</a></li>

                    <li><a nj-nav  href="/math/volume/" title="体积换算">体积换算</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-book fa-fw"></i>常用对照表<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li><a nj-nav  title="HTTP Content-type" href="/docs/HTTPContentType/">HTTP Content-type</a></li>
                    <li><a nj-nav  title="HTML转义字符" href="/docs/HtmlEscape/">HTML转义字符</a></li>
                    <li><a nj-nav  title="RGB颜色参考" href="/docs/RgbCommon/">RGB颜色参考</a></li>
                    <li><a nj-nav  title="ASCII对照表" href="/docs/ASCII/">ASCII对照表</a></li>
                    <li><a  nj-nav title="HTTP状态码详解" href="/docs/HttpStatus/">HTTP状态码详解</a></li>
                    <li><a  nj-nav title="运算符优先级" href="/docs/Operator/">运算符优先级</a></li>
                    <li><a nj-nav  title="TCP/UDP常见端口参考" href="/docs/TcpUdp/">TCP/UDP常见端口参考</a></li>
                    <li><a  nj-nav title="网页字体参考" href="/docs/WebFonts/">网页字体参考</a></li>
                    <li><a nj-nav title="Keycode对照表,键码表" href="/static/dic/pckeycode.shtml">Keycode对照表</a></li>
                    <li><a nj-nav title="AndroidKeyCode对照表" href="/Static/Dic/AndroidKeyCode.shtml">AndroidKeyCode对照表</a></li>
                   
                    
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.nav-shide -->
<div style="display:none">
    <ul>
        <li id="Li14"><a nj-nav  title="iPhone/iPad/Android UI尺寸规范" href="/ui/phonesize/">iPhone/iPad/Android UI尺寸规范</a></li>
        <li><a nj-nav  id="A1" href="/json/aboutjson/">什么是Json</a></li>
        <li><a nj-nav  id="A2" href="/json/jsoncode/">Json解析相关代码</a></li>
        <li><a  nj-nav title="介绍Json" target="_blank" href="/docs/json/json-zh.html">介绍Json</a></li>
        
       
    </ul>
</div>
