
@{
    ViewBag.Title = "生成随机密码,在线生成随机密码,密码生成器";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <meta name="keywords" content="生成随机密码,密码生成器,在线生成随机密码">
    <meta name="description" content="随机密码生成器，最专业的随机密码在线生成网站。可根据选择生成不同字符不同长度的随机密码，包含QQ邮箱相册密码、路由器WiFi无线网密码、电脑开机密码、苹果手机ID密码、移动联通服务密码、行李箱密码、RAR压缩文件解压密码、支付宝微信财付通支付密码、银行卡社保卡K宝U盾密码、宽带ADSL密码、Excel密码等。">
    }
<div class="panel panel-default">
    <div class="panel-heading">
        生成随机密码,在线生成随机密码,密码生成器
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
               
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-sm-2">数量:</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="random-num" value="5" placeholder="">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-sm-2">长度:</label>
                <div class="col-sm-10 form-inline">
                    <input type="number" class="form-control" id="random-len-from" value="16" placeholder="Min length">
                    ~
                    <input type="number" class="form-control" id="random-len-to" value="20" placeholder="Max length">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">字符:</label>
                <div class="col-sm-10" id="random-charset">
                    <input type="text" class="form-control" value="@ViewBag.randomcharset" spellcheck="false" />
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="0123456789" checked="checked">
                            数字: 0123456789
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="abcdefghijklmnopqrstuvwxyz" checked="checked">
                            小写字母: abcdefghijklmnopqrstuvwxyz
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ" checked='checked'>
                            大写字母: ABCDEFGHIJKLMNOPQRSTUVWXYZ
                        </label>
                    </div>
                    <div class="checkbox">
                        <label> 
                            <input type="checkbox" value="@ViewBag.symbols" checked='checked'>
                            特殊符号: ~!@@#$%^&*()_+
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-primary" id="random-generate" autofocus="autofocus">生成密码</button>
                </div>
            </div>
            <div class="form-group" id="random-result">
                <label class="control-label col-sm-2">生成结果:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="6" spellcheck="false"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.container -->
@section scripts{



    <script type="text/javascript">
        ~function ($, window, Math) {
            $("#random-generate").click(function (e) {
                var charset = $('#random-charset :text').val(),
                    lenfrom = parseInt($('#random-len-from').val(), 10),
                    lento = parseInt($('#random-len-to').val(), 10),
                    num = parseInt($('#random-num').val(), 10),
                    result = '';
                for (var i = num - 1; i >= 0; i--) {
                    result += generateOne(charset, lenfrom, lento) + "\r";
                }
                $('#random-result textarea').attr("rows", num + 1).val(result);
                e.preventDefault();
                return false;
            });

            $('#random-charset :checkbox').click(function () {
                var checked = $('#random-charset :checkbox:checked'),
                    charset = '';
                for (var i = 0; i < checked.length; i++) {
                    charset += checked[i].value
                };
                $('#random-charset :text').val(charset)
            });

            $(document).ready(function () {
                $('#random-generate').trigger('click');
            });

            function generateOne(charset, lenfrom, lento) {
                var result = '';
                if ((lenfrom <= lento) && (charset.length > 0) && (lenfrom >= 0)) {
                    var len = Math.round(Math.random() * (lento - lenfrom) + lenfrom);
                    while (result.length < len) {
                        result += charset.charAt(Math.floor(Math.random() * charset.length))
                    }
                }
                return result;
            }
        }(jQuery, window, Math)
    </script>
}